.flotante{
    height: 130px;
    background-color: white;
    margin-top: 50px;
    border-radius: 30px;
    position: relative;
    padding: 20px;
}
.flotante::after{
    position: absolute;
    height: 90%;
    width: 95%;
    content: '';
    bottom: 0;
    left: 0;
    background-color: black;
    border-radius: 30px;
    filter: blur(8px);
    z-index: -1;
}